* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
section,
button {
    font-family: inherit;
}

/* common */
.section__title {
    position: relative;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding-left: 30px;
}

.section__heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section__title::before {
    --bg: #696d77;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: var(--bg);
}

.section__desc {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.btn {
    --height: 52px;
    display: inline-block;
    color: #fff;
    min-width: 113px;
    text-align: center;
    height: var(--height);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
    border-radius: 6px;
    background: #212832;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* header */
.header {
    padding: 34px 0 8px;
    position: sticky;
    z-index: 99;
    top: -34px;
    background: #fff;
}
.header__inner {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
    margin-left: 70px;
}
.nav__item {
    padding: 0 23px;
}
.nav__link {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.nav__link.active {
    color: #212832;
    font-weight: 600;
    border-bottom: 2px solid #7264d6;
}

.nav__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #212832;
}
.header__action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__login {
    color: #212832;
    padding: 0 28px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

/* hero */
.hero {
    padding: 68px 0 80px;
}

.hero__inner {
    display: flex;
    align-items: center;
}
.hero__content {
    width: 46%;
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero__heading-strong {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    font-size: 1.8rem;
}

.subscribe-form {
    margin-top: 40px;
    width: 100%;
    height: 74px;
    display: flex;
    position: relative;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    font-size: 1.6rem;
    padding: 0 165px 0 23px;
}

.subscribe-form__input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.subscribe-form__btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    min-width: 149px;
    height: 58px;
    outline: none;
    border: 1px solid #7264d6;
    border-radius: 8px;
    background: #7264d6;
    cursor: pointer;
}

.hero__reminder {
    margin-top: 20px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}
.hero__media {
    position: relative;
    width: 54%;
}

.hero__media-img {
    width: 296px;
    height: 562px;
    margin-left: 160px;
}

.hero__card-deposite {
    position: absolute;
    left: 60px;
    top: 113px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 174px;
    height: 46px;
    padding: 16px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__card-title {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    position: relative;
    padding-left: 26px;
}

.hero__card-deposite .hero__card-title::before {
    position: absolute;
    left: 0;
    top: -5px;
    content: url(../icon/hero_download.svg);
}

.hero__card-price {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.hero__card-secured {
    position: absolute;
    bottom: 66px;
    right: 100px;
    padding: 20px 14px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
}
.hero__card__price {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
.hero__card-title-secured {
    display: flex;
    padding-left: 31px;
    flex-direction: column;
    position: relative;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
}

.hero__card-secured .hero__card-title-secured::before {
    position: absolute;
    left: 0;
    top: 0;
    content: url(../icon/hero_dollar.svg);
}

.hero__card {
    position: absolute;
    right: 0;
    top: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
    animation: toLeft 5s infinite;
}
@keyframes toLeft {
    0% {
        translate: 0;
    }
    50% {
        translate: -42px;
    }
    100% {
        translate: 0;
    }
}
.hero__card-qty {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}
.hero__card-desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

/* works */
.works {
    padding: 80px 0;
}

.work__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__media {
    width: 470px;
    position: relative;
}
.work__decor {
    position: absolute;
    right: 55px;
    top: 76px;
}

.work-card {
    position: absolute;
    right: -100px;
    bottom: 96px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 15px;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work-card__info {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
}

.work-card__desc {
    margin-top: 5px;
    color: #696d76;
    font-size: 1.3rem;
    font-weight: 400;
}
.work__img {
    width: 100%;
}
.work__tagline,
.work__desc {
    width: 470px;
}

.work__tagline:nth-of-type(1) {
    margin-top: 70px;
}

.work__tagline {
    margin-top: 30px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work__desc {
    margin-top: 16px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

/* product */
.product {
    padding: 80px 0;
}

.product__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 160px;
}
.product__heading {
    margin-top: 12px;
}
.product__desc {
    margin-top: 20px;
    width: 470px;
}

.product__list {
    margin-top: 28px;
}

.product__item {
    margin-bottom: 18px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.product__item::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.product__btn {
    --height: 58px;
    min-width: 149px;
    margin-top: 38px;
}

.product__media {
    position: relative;
}
.product__img {
    width: 80%;
}

.product__payment {
    position: absolute;
    right: 0;
    top: -45px;
    padding: 23px 13px;
    display: flex;
    align-items: center;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
.product__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__column:nth-child(3) {
    margin-left: auto;
}
.product__payment-title {
    color: #212832;
    font-size: 1.2rem;
    font-weight: 500;
}

.product__payment-price {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 400;
}
.product__payment-desc {
    margin-top: 4px;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
}
.product__media-card {
    position: absolute;
    right: 15px;
    bottom: -55px;
    padding: 14px 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}
.product__media-card-desc {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}
.product__media-card-price {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.product__decor {
    position: absolute;
    z-index: 2;
    right: -35px;
    bottom: 172px;
}
/* media-2 */
.product__payment-method {
    position: absolute;
    right: 27px;
    bottom: 57px;
    z-index: 1;
    padding: 28px;
    width: 281px;
    background: #fff;
    height: 220px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
}
.product__payment-method__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.product__paymethod-image {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 18px;
}
.product__paymethod-img {
    width: 100%;
    height: 100%;
}

.product__paymethod-link:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 48px;
    background: #f9ea63;
}
.product__content-bottom {
    margin-left: auto;
    width: 470px;
}

/* feedback */
.feedback {
    padding: 80px 0;
}

.feedback__top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback__desc {
    width: 435px;
    text-align: center;
}

.feedback__list {
    margin-top: 70px;
    display: flex;
    column-gap: 30px;
    overflow: hidden;
}
.feedback-item {
    flex-shrink: 0;
    width: calc(50% - 15px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feedback-item__desc-wrap {
    position: relative;
    padding: 42px 28px;
    background: #fff;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}
.feedback-item__desc-wrap::after {
    content: "";
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    border: 60px solid;
    border-color: #fff transparent transparent;
}
.feedback-item__desc {
    color: #696d76;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.feedback-item__avatar {
    margin-top: 96px;
    width: 104px;
    height: 104px;
}

.feedback-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.feedback-item__job {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.feedback__dots {
    display: flex;
    margin-top: 38px;
    justify-content: center;
    column-gap: 6px;
}
.feedback__dot.feedback__dot-active {
    background: #7264d6;
    border-color: #7264d6;
}
.feedback__dot {
    width: 22px;
    height: 5px;
    border: 1px solid #9b9fab;
}
.feedback__dot:hover {
    background: #7264d6;
    border-color: #7264d6;
}

/* blog */
.blog {
    padding: 80px 0;
}
.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    margin-top: 6px;
}
.blog__desc {
    margin-top: 18px;
    width: 435px;
}
.blog__list {
    margin-top: 98px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.blog-item {
    display: flex;
    column-gap: 22px;
    padding: 28px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog-item__img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.blog-item__info {
    padding: 10px 0;
}
.blog-item__date {
    margin-bottom: 10px;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}
.blog-item__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.blog-item__cta {
    margin-top: 20px;
    display: inline-block;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
}

.blog-item__cta:hover {
    color: #7264d6;
}

/* install */
.install {
    padding: 80px 0 50px;
}

.install__inner {
    position: relative;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    background: #7264d6;
}

.install__title,
.install__title::before {
    color: #fff;
    --bg: #fff;
}

.install__heading {
    margin-top: 12px;
    color: #fff;
}

.install__desc {
    width: 435px;
    text-align: center;
    margin-top: 18px;
    color: #fff;
}
.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 16px;
}

.install_img-btn {
    width: 182px;
    height: 64px;
}

.install__decor {
    position: absolute;
}

.install__decor:nth-of-type(1) {
    top: 49px;
    left: 0;
    animation: star1 5s infinite;
}

@keyframes star1 {
    0% {
        translate: 0;
        rotate: 0;
    }
    50% {
        translate: 112px;
        rotate: 360deg;
    }
    100% {
        translate: 0;
        rotate: 0;
    }
}
.install__decor:nth-of-type(2) {
    bottom: 49px;
    left: 166px;
    animation: star2 5s infinite;
}
@keyframes star2 {
    0% {
        translate: 0;
        rotate: 0;
    }
    50% {
        translate: -166px;
        rotate: 360deg;
    }
    100% {
        translate: 0;
        rotate: 0;
    }
}
.install__decor:nth-of-type(3) {
    top: 49px;
    right: 0;
    animation: star3 5s infinite;
}
@keyframes star3 {
    0% {
        translate: 0;
        rotate: 0;
    }
    50% {
        translate: -112px;
        rotate: 360deg;
    }
    100% {
        translate: 0;
        rotate: 0;
    }
}
.install__decor:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
    animation: star4 5s infinite;
}
@keyframes star4 {
    0% {
        translate: 0;
        rotate: 0;
    }
    50% {
        translate: 166px;
        rotate: 360deg;
    }
    100% {
        translate: 0;
        rotate: 0;
    }
}

/* footer */
.footer {
    padding-top: 50px;
}
.footer__row {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    column-gap: 162px;
}

.footer__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    margin-bottom: 24px;
}

.footer-item,
.footer__address {
    margin-bottom: 12px;
    display: inline-block;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    opacity: 0.75;
}
.footer-item:hover {
    text-decoration: underline;
}
.footer__column:nth-child(4) {
    width: 34.4%;
}

.footer__address {
    width: 371px;
    margin-bottom: 48px;
}

.subscribe-form {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer-form__input {
    border-radius: 6px;
    border: 1px solid #8e919a;
    outline: none;
    border-radius: 6px;
    border: 1px solid #8e919a;
    width: 270px;
    height: 52px;
    padding: 0 12px;
    font-size: 1.4rem;
}
.footer-form__input::placeholder {
    color: #8e919a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    opacity: 0.7;
}

.footer-form__btn {
    margin-left: 15px;
    border: none;
    outline: none;
    min-width: 113px;
    border-radius: 6px;
    background: #7264d6;
    cursor: pointer;
}

.footer__contact {
    margin-top: 70px;
    display: flex;
    column-gap: 100px;
}

.contact__email,
.contact__phone {
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    text-decoration-line: underline;
}
.footer__copyright {
    margin-top: 28px;
    background: #7264d6;
    padding: 28px 0;
}

.copyright__desc {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
